
body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    padding-left: 15%;
    padding-right: 15%;
}
/* Estilos para el header */
header {
    background-color:  #f0afb4   ;
    padding: 10px 0;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

/* Estilos para el inicio */
#inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(img/imagen6.jpg);
    
}
#inicio h1{
    font-size: 100px;
}
#inicio p{
    font-size: 20px;
    
}

/* Estilos para la seccion acerca de mi */
#acerca-de-mi{
    background-color:  #f0afb4   ;
}
section {
    padding: 60px 0;
    display:inline-flexbox;
    text-align: center;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
}
/* Estilos para la sección de habilidades */
.skills ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.skills ul li {
    background: #e2e2e2;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 5px;
}
/* Estilos para la sección de educación */ 

.education table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    max-width: 800px;
}

.education th, .education td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}
#contacto{
    background-color:  #f0afb4   ;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
}
#contacto p{
    justify-content: center;
    color: #333;
}
#contact-method { 
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem; 
    color: #2e2c2c;
} 
